*{
    margin: 0;
    padding: 0;
    font-family: "Micro 5", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    position: relative;
}
.navbar{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin-left: 100px;
    align-items: center;
}
.listItem{
    font-size: 25px;
    display: inline-block;  /*place elements side by side*/
    list-style: none; /* remove list style*/
    margin: 40px 20px;
}
#logo{
    width: 150px;
}
.link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.listItem :hover{
color: red;
}

.title{
margin: 8% 0 0 8%;
}
.title h1{
    font-size: 55px;
    margin-bottom: 20px;
}
.title p{
    font-size: 20px;
}
#name{
    color: orange;
}
#cv{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 6px;
    margin-top: 25px;
    display: inline-block;
}
#images{
    width: 45%;
    height: 80%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}
.imageGroup{
    position: absolute;
    height: 100%;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%);
    transition: bottom 1s,left 2s;
}
#images:hover #girl{
left: 40%;
}
#images:hover #shape{
    bottom: 50px;
}
#about{
   margin: 22% 8% 0 8%;
}
.newHeading{
    text-align: center;
}
.newHeading h1{
    font-size: 35px;
}
.newHeading span{
    font-size: 25px;
    color: green;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.about-image img{
    width: 80%;
}
.about-details{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    
}
p{
    text-align: justify;
}
.information{
    margin-top: 20px;
}
.info-box{
    margin-bottom: 15px;
}
.info-box span{
    margin-left: 15px;
}
#skills{
    margin: 8% 8% 0 8%;
}
#skill-details{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 2rem;
margin-top: 20px;
}
#skills-img{
    margin-left: 60px;
}
#skills-img img{
    width: 90%;
}
.skills-grp{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom:2 rem;
    align-items: center;
    position: relative;
}
.skills-grp h3{
    font-size: 30px;
    font-weight: 500;
}
.skills-grp span{
    font-size: 30px;
    font-weight: 500;
}
.bar{
    width: 100%;
    height: 0.5rem;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}
.html-bar{
    background-color: orange;
    width: 95%;
}
.css-bar{
    background-color: orange;
    width: 88%;
}
.js-bar{
    background-color: orange;
    width: 89%;
}
.react-bar{
    background-color: orange;
    width: 85%;
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.media-icon , .up-arrow{
width: 50px;
height: 50px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
margin: 0 10px;
}
.media-icon i{
    font-size: 30px;
    color: black;
}
.media-icon:hover{
   background-image: linear-gradient(to top left,orangered,yellow);
}
.media-icon:hover i{
    color: white;
    animation: shake 0.75s;
}
@keyframes shake {
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform: rotate(-15deg);
    }
    
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.up-arrow{
    background-image: linear-gradient(to top left,orangered,yellow);
    float: right;
    margin: 30px 20px 30px 0;
}
.up-arrow:hover i{
color: white;
}
html{
    scroll-behavior: smooth;
}